form {
  display: inherit;
  margin-top: 15px;
}

form div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

input.invalid {
 border-color: red;
}

input, label {
  display:block;
}